header {
  height: 70px;
  width: 100%;
  background: rgba(0,0,0,.7);
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  position: absolute;

  nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
